---
import { type CollectionEntry, getCollection, getEntryBySlug } from "astro:content";
import { Image } from "astro:assets";
import Main from "../../layouts/Main.astro";
import { Vimeo, YouTube } from 'astro-embed';


export async function getStaticPaths() {
  let films = await getCollection("films");
  return films
    .filter((film) => film.data.hidden!==true)
    .map((film) => ({
    params: { slug: film.slug },
    props: film,
  }));
}
type Props = CollectionEntry<"films">;

const film = Astro.props;
const { Content } = await film.render();

const artists = await getCollection("artists");



---
<Main title={`Artist Rooms - ${film.data.title}`}>
<main>
  <section class="grid w-full place-items-center">
    <div class="w-full h-full">
      { film.data.url.includes('vimeo') && ( <Vimeo class="aspect-video bg-black" id={film.data.url} allow="autoplay; fullscreen; picture-in-picture" allowfullscreen/> )}
      { film.data.url.includes('youtube') && ( <YouTube class="aspect-video bg-black" id={film.data.url} allow="autoplay; fullscreen; picture-in-picture" allowfullscreen/> )}
      {film.data.artists && film.data.artists.map(artist => <a class="artist" href={`/artists/${artist}`}>{artists.find(a => a.slug == artist)?.data.title}</a>)}
      <Content />
    </div>
  </section>
</main>
</Main>