---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components';

import Main from "../../layouts/Main.astro";

import FormattedDate from "../../components/FormattedDate.astro";

let films = await getCollection("films");
films = films.filter((film) => film.data.hidden!==true).sort((a, b) => {
  return a.data.title.localeCompare(b.data.title);
});

const artists = await getCollection("artists");
---

<Main title="Artist Rooms - The Films">
  <main>
    <section
      x-data="{src: null, dialog_open: false}"
      x-init="() => {window.$refs = $refs;}"
    >
      <ul class="flex flex-wrap justify-between">
        {
          films.map((film) => (
            <li
              class="film w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4 cursor-pointer"
              x-on:click="() => {src = $el.querySelector('iframe').src; dialog_open = true; $refs.dialog.showModal();}"
            >
              <iframe
                id={`film-${film.slug}`}
                type="text/html"
                loading="lazy"
                class="xmax-h-64 w-auto aspect-video pointer-events-none bg-black"
                src={film.data.url}
              />
              <h5 class="title">
                <xa href={`/films/${film.slug}`}>
                  {film.data.title.replace(/ARTIST ROOMS:?/, "")}
                </xa>
              </h5>
              ON:{" "}
              {film.data.artists &&
                film.data.artists.map((artist) => (
                  <a class="artist" href={`/artists/${artist}`}>
                    {artists.find((a) => a.slug == artist)?.data.title}
                  </a>
                ))}
            </li>
          ))
        }
      </ul>
      <dialog
        xx-show="dialog_open"
        x-ref="dialog"
        xx-transition
        id="film-dialog"
        class="w-lvw h-lvh xinset-0 xz-10 bg-transparent backdrop:bg-black backdrop:opacity-80"
      >
        <button x-on:click="() => {dialog_open = false; $refs.dialog.close(); $refs.video.src=''}" class="absolute top-0 right-0 focus-visible:outline-none text-white">
          <Icon name="material-symbols-light:close" class="size-6 lg:size-12" />
        </button>
        <div
          class="h-full w-full inset-0 grid place-items-center p-6"
        >
          <iframe
            x-ref="video"
            id="film-iframe"
            class="w-full max-h-full aspect-video object-contain bg-gray bg-no-repeat bg-center bg-[url('/SvgSpinners180RingWithBg.svg')]"
            :src="src"></iframe>
        </div>
      </dialog>
    </section>
  </main>
  <script></script>
</Main>
