---
import { type CollectionEntry, getCollection, getEntry } from "astro:content";
import { Image } from "astro:assets";
import Main from "../../layouts/Main.astro";



export async function getStaticPaths() {
  function slugify(title: string) {
  return (
    title
      // remove leading & trailing whitespace
      .trim()
      // remove special characters
      .replace(/[^A-Za-z0-9 ]/g, '')
      // replace spaces
      .replace(/\s+/g, '-')
      // remove leading & trailing separtors
      .replace(/^-+|-+$/g, '')
      // output lowercase
      .toLowerCase()
  )
}
  let artists = await getCollection("artists");
  let res = artists
    .filter((artist) => artist.data.hidden !== true)
    .map((artist) => { 
      artist.data.works.map( work => ({params: { slug: slugify([artist.data.title,work.title,work.inventorynumber].join(' ')) }, props: work,}))
    }
  ).flat();
  console.log(res);
  return res;
}
interface Props {
	title: String;
}
const work = Astro.props;

---

<Main title={`${work.title}`}>
  <main>
    <section>
      {work.title}
    </section>
  </main>
</Main>
