---
import Main from "../layouts/Main.astro";
---

<Main title="Not Found">
  <main class="grid place-items-center w-full h-full">
    <section>
      <h1>Nothing to see!</h1>
      <p>Unfortunately you seem to have clicked on a link that doesn't exist.</p>
    </section>
  </main>
</Main>
