<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Full-screen Image Carousel</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://unpkg.com/alpinejs"></script>
</head>
<body class="bg-gray-800">
  <div x-data="{ currentImage: 0, images: ['https://picsum.photos/200/300', 'https://picsum.photos/250/300', 'https://picsum.photos/200/350'] }" x-cloak>
    <div class="fixed inset-0 z-50 overflow-hidden flex justify-center items-center bg-gray-900 bg-opacity-75 transition-opacity duration-300 ease-in-out">
      <div class="w-full max-w-2xl rounded-lg overflow-hidden shadow-lg bg-white">
        <div class="relative">
          <div class="carousel-inner overflow-x-auto px-4 py-2 flex space-x-4">
            <template x-for="(image, index) in images" :key="index">
              <div class="flex-shrink-0 w-full min-w-fit">
                <img :src="`${image}`" class="h-auto w-full object-cover rounded-lg" alt="Image">
              </div>
            </template>
          </div>
          <button type="button" class="absolute top-1/2 left-2 text-white hover:text-opacity-75 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white" @click="currentImage = currentImage === 0 ? images.length - 1 : currentImage - 1">
            <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 8L8.59 13.59L7 12L11.41 8z" fill="currentColor"></path>
            </svg>
          </button>
          <button type="button" class="absolute top-1/2 right-2 text-white hover:text-opacity-75 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white" @click="currentImage = (currentImage + 1) % images.length">
            <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 16L14.41 10.41L13 9L6.59 13.59z" fill="currentColor"></path>
            </svg>
          </button>
        </div>
        <div class="flex justify-center py-2">
          <span x-for="(image, index) in images" :key="index" class="mr-2 text-white opacity-50 hover:opacity-100" :xclass="{ 'bg-white rounded-full p-1'}">
            <span class="sr-only">Index </span><span class="sr-only" set:html="index"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>