---
import Main from "../layouts/Main.astro";
// edit map: https://umap.openstreetmap.fr/en/map/anonymous-edit/1030519:C1Kw6cUMqXnU6KZloIwgBKMk87isAZ9LdWPvlmxYaoA
---

<Main title="The Map">
    <main class="h-full">
        <section class="h-full">
            <iframe src="https://umap.openstreetmap.fr/en/map/artist-rooms_1030519" class="w-full h-full"></iframe>
        </section>
    </main>
</Main>
