---
import Main from "@src/layouts/Main.astro";
---
<Main title="Portfolio" x-data="{ open: false}">
  <main data-pagefind-ignore class=" h-full">
    <section class="h-full">
      <template x-for="(work, index) in portfolio" :key="index">
        <div class="flex flex-wrap pb-12 break-before-page">
          <img :src="work.image" alt="" class="work h-[8in] object-contain">
          <div class="w-full px-4">
            <p x-text="work.title" class="text-2xl font-bold"></p>
            <span class="font-bold" x-text="work.artist"></span>,
            <span x-text="work.info"></span>, 
            <span x-text="work.category"></span>, 
            <span x-text="work.credit.replace(new RegExp(work.inventorynumber,'i'),'').trim()"></span>, 
            <span x-text="work.inventorynumber" class="font-bold italic"></span>
            <p class="print:hidden text-red-500 focus:font-bold"><button @click="delete portfolio.splice(index,1)">[ remove ]</button></p>
            <div class="h-[1in] bg-gray-100 print:bg-inherit border print:border-none border-black p-2 focus-visible:outline-transparent! print:ring-0 ring-red-400" contenteditable>
          </div>
        </div>
      </template>
      <div x-show="!portfolio.length" class="grid place-items-center w-full h-full italic">You have no works in your portfolio.</div>
    </section>
  </main>
</Main>
<script>
Array.prototype.distinct = function (key) {
    let map = new Map();
    let result = [];
    for (let i = 0; i < this.length; i++) {
        if (!map.has(this[i][key])) {
            map.set(this[i][key], true);    // set any value to Map
            result.push(this[i]);
        }
    }
    return result;
}
</script>
<style is:global>
  @reference "@styles/global.css";
  @media print {
    @page {
      size: A4;
      margin-top: 2cm !important;
      body { margin:20mm; height: 100%;}
      @bottom-right {
        content: "©" + new Date().getFullYear() + " ARTIST ROOMS FOUNDATION";
      }
    }
    .print-only {
      display: block;
    }
    .no-print {
      display: none;
    }
    nav {
      @apply bg-transparent border-b-0 !absolute top-5 max-h-20  ;
    }
    footer {
      @apply bg-transparent border-t-0 !relative bottom-5 max-h-20  w-full;
    }
    img.work {
      padding-top: 10em !important;
    }
  }

</style>
    