---
const today = new Date();
import { Image } from "astro:assets";
import logoNgs from "../assets/logo-ngs.png";
import logoTate from "../assets/logo-tate.png";
import Main from "../layouts/Main.astro";
import { Icon } from "astro-icon/components";
---

<Main title="slideshow playground" x-data="{ open: false }">
  <div class="items-center justify-center" xx-data="{ open: false }">
    <button
      @click="$refs.dialog.showModal(); $refs['slide1'].scrollIntoView(); open=!open;"
      @keyup.period.window="$refs.dialog.showModal(); open=!open;"
      class="focus-visible:outline-none"
      ><Icon
        name="material-symbols-light:chevron-right"
        class="size-6 lg:size-12"
      /></button
    >
    <button
    @click="$refs['slide2'].scrollIntoView({behavior:'instant'}); $refs.dialog.showModal();  open=!open;"
    @keyup.period.window="$refs.dialog.showModal(); open=!open;"
    class="focus-visible:outline-none"
    ><Icon
      name="material-symbols-light:chevron-right"
      class="size-6 lg:size-12"
    /></button
  >

    <dialog
      id="dialog"
      x-ref="dialog"
      class="absolute w-screen h-screen inset-0 z-[600] opacity-0 pointer-events-none transition-opacity duration-500 open:opacity-100 open:pointer-events-auto bg-gray-100"
      role="dialog"
      aria-modal="true"
    >
  <div class="h-48 md:h-full overflow-hidden border border-cyan-700"> 
    <div x-data="{            
        slides: [                
            {
                imgSrc: 'https://penguinui.s3.amazonaws.com/component-assets/carousel/nft-1.webp',
                imgAlt: 'An illustration of a cyberpunk-style ape wearing a hoodie and futuristic headphones.',
            },
            {
                imgSrc: 'https://penguinui.s3.amazonaws.com/component-assets/carousel/nft-2.webp',
                imgAlt: 'An illustration of a cyberpunk-style ape wearing ajacket.',
            },

            {
                imgSrc: 'https://penguinui.s3.amazonaws.com/component-assets/carousel/nft-3.webp',
                imgAlt: 'An illustration of a cyberpunk-style ape wearing a cape with chains on the neck.',
            },
        ],            
        currentSlideIndex: 1,
        previous() {                
            if (this.currentSlideIndex > 1) {                    
                this.currentSlideIndex = this.currentSlideIndex - 1                
            } else {   
                // If it's the first slide, go to the last slide           
                this.currentSlideIndex = this.slides.length                
            }            
        },            
        next() {                
            if (this.currentSlideIndex < this.slides.length) {                    
                this.currentSlideIndex = this.currentSlideIndex + 1                
            } else {                 
                // If it's the last slide, go to the first slide    
                this.currentSlideIndex = 1                
            }            
        },        
    }" class="relative w-full overflow-hidden">
    
        <!-- previous button -->
        <button type="button" class="absolute left-5 top-1/2 z-20 flex rounded-full -translate-y-1/2 items-center justify-center bg-white/40 p-2 text-slate-700 transition hover:bg-white/60 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700 active:outline-offset-0 dark:bg-slate-900/40 dark:text-slate-300 dark:hover:bg-slate-900/60 dark:focus-visible:outline-blue-600" aria-label="previous slide" x-on:click="previous()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="3" class="size-5 md:size-6 pr-0.5" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
        </button>
    
        <!-- next button -->
        <button type="button" class="absolute right-5 top-1/2 z-20 flex rounded-full -translate-y-1/2 items-center justify-center bg-white/40 p-2 text-slate-700 transition hover:bg-white/60 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700 active:outline-offset-0 dark:bg-slate-900/40 dark:text-slate-300 dark:hover:bg-slate-900/60 dark:focus-visible:outline-blue-600" aria-label="next slide" x-on:click="next()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="3" class="size-5 md:size-6 pl-0.5" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
        </button>
       
        <!-- slides -->
        <div class="relative h-48 md:h-full w-full">
            <template x-for="(slide, index) in slides">
                <div x-cloak x-show="currentSlideIndex == index + 1" class="absolute inset-0" x-transition.opacity.duration.300ms>
                    <img class="absolute w-full h-full inset-0 object-cover text-slate-700 dark:text-slate-300" x-bind:src="slide.imgSrc" x-bind:alt="slide.imgAlt" />
                </div>
            </template>
        </div>
        
    </div>
</div>
    </dialog>
  </div>

  <!-- <div class="absolute top-0 left-0 z-[800] w-screen h-full border-4 border-black">
    <img src="https://picsum.photos/3000/2000" alt="Artist Rooms" class="object-contain w-full h-full" />
  </div> -->
</Main>
<script>
  import smoothscroll from "smoothscroll-polyfill";
  smoothscroll.polyfill();
</script>
