---
import { Image } from 'astro:assets';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'img'>;

const { src, alt, title, href, width, widths, sizes, class: className, ...props } = Astro.props;

---
    <div class="h-full p-2" >
        <div class="w-full bg-gray-100 h-64 flex justify-center items-center">
            {src && <Image
                width={width || undefined}
                widths={widths || [360]}
                x-widths={widths || [360, 1600]}
                sizes={sizes||`360px`}
                src={src}
                alt={alt || ""}
                class="max-w-full h-full w-auto object-contain p-2"
                {...props}
                /> 
            }
        </div>
        <slot/>
    </div>