---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import HeaderLink from "../components/HeaderLink.astro";
import { Icon } from "astro-icon/components";
import { fade } from 'astro:transitions';


interface Props {
  title: string;
  description?: string;
  image?: string;
  frontmatter?: Record<string, unknown>;
}

let { title, description, image, frontmatter, ...props } = Astro.props;
title = title || frontmatter?.title || "Untitled";
---

<html lang="en-US" class="bg-(--main-background)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={title} />
    <ViewTransitions />
  </head>
  <body class="h-lvh w-lvw grid grid-rows-[1fr_auto] bg-(--main-background)">
    <nav
      class="flex items-center justify-between fixed px-2 h-14 lg:h-28 lg:px-4 py-2 lg:pt-4 lg:pb-2 border-b border-gray-500 bg-(--main-background) w-full z-500"
    >
      <div class="flex items-center">
        <a href="/" class="home border-b-0 pr-4 lg:pr-12">
          <img
            src={"/logo.svg"}
            alt="Artist Rooms"
            width="72"
            height="56"
            class="h-10 lg:h-14 w-auto"
          />
        </a>
        <h1 class="text-sm md:text-lg lg:text-5xl text-balance">
          {title?.replace(/Artist Rooms|-/g, "")}
        </h1>
      </div>
      <div class="flex flex-col justify-between lg:flex-row print:hidden lg:gap-0">
        <HeaderLink href="/rooms-review">Rooms Review</HeaderLink>
        <HeaderLink href="/artists-review">Artists Review</HeaderLink>
        <HeaderLink href="/">EXIT REVIEW</HeaderLink>

        <div
          x-data="{ open: false }"
          class="*:bg-(--main-background) *:z-500000 z-500000"
        >
          <h1 x-on:click="open = ! open" class="block lg:hidden text-[1.5rem]">
            <Icon
              name="material-symbols-light:menu"
              class="size-12 lg:size-24"
            />
          </h1>
          <div
            x-cloak
            x-show="open"
            x-transition
            class="lg:hidden absolute top-14 right-0 border border-t-0 border-r-0 border-gray-500 flex flex-col items-end *:p-1"
          >
              <HeaderLink href="/rooms-review">Rooms Review</HeaderLink>
              <HeaderLink href="/artists-review">Artists Review</HeaderLink>
              <HeaderLink href="/">EXIT REVIEW</HeaderLink>
          </div>
        </div>
      </div>
    </nav>
    <div class="grid justify-items-center">
      <article class="p-2 pt-16 lg:p-4 lg:pt-32 max-w-(--breakpoint-2xl) w-full" {...props}>
        <slot />
      </article>
    </div>
    <Footer />
  </body>
</html>
<style is:global> :root * { @apply !text-red-700} </style>
